<!DOCTYPE html>
<html>
{% include 'navbar.php.twig' %}
<head>
	<title></title>
	{% block head %}{% endblock %}
</head>
<body class="body">

	<div class="container">

		{% block titulo %}{% endblock %}
		
		{% block contenido %}
		{% endblock %}

	</div>

</body>
</html>